// Addition to the default styles for entries in user's "index" views.
.panel-group{
    .panel{
        margin-bottom:$padding-base-vertical;
        padding: $padding-small-vertical $padding-small-horizontal;
        .panel-title{
            padding:0;
            // Actions button
            .btn-group.btn-panel-title{
                margin: -8px auto -5px -10px;
                border:none;
                .btn{
                    background-color:transparent;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    color:#333;
                    border-width: 0 1px 0 0;
                }
            }
        }
        .panel-collapse{
            margin: #{$padding-base-vertical - 1}
            -#{$padding-small-horizontal}
            0
            -#{$padding-small-horizontal};
            /*padding: $padding-base-vertical $padding-base-horizontal;*/
            border-top:1px solid $btn-default-border;
        }
        .panel-group-title{
            cursor: pointer;
        }
    }
}