body{
    // Style for "sticky footer"
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-header{
    background-color:$navbar-default-bg;
    margin-bottom:30px;
    padding-bottom:0;
    border:0;
    @include box-shadow($value: $well-shadow);
    h1{
        color:darken($navbar-default-bg, 20%);
        margin-bottom: 30px;
    }
    .toolbar{
        background-color:rgba(255,255,255,0.5);
        margin:0;
        border-bottom:0;
    }
}
.page-header-admin{
    background-color:$navbar-admin-bg;
    h1{
        color:$navbar-admin-text-color;
    }
}
.page-header-user{
    background-color: $navbar-user-bg;
    h1{
        color:$navbar-user-text-color;
    }
}
.page-content{
    // For a "sticky footer" effect
    flex:1;
}

.footer{
    margin-top:30px;
    .footer-logo{
        width:40%;
    }
    .footer-nav{
        width:30%;
        dt{
            font-variant: small-caps;
        }
    }
}

.footer-default{
    background-color:$navbar-admin-bg;
    background-color:$navbar-default-bg;
    .footer-logo{
        width:40%;
        a{
            color: darken($navbar-default-bg, 35%);
        }
    }
    .footer-nav{
        width:30%;
        dt{
            color: darken($navbar-default-bg, 30%);
            font-variant: small-caps;
        }
        a{
            color: darken($navbar-default-bg, 20%);
            &:hover{
                color: darken($navbar-default-bg, 30%);
            }
        }
    }
}
.footer-admin{
    background-color:$navbar-admin-bg;
    .footer-logo{
        a{
            color: $navbar-admin-link-color;
        }
    }
    .footer-nav{
        dt{
            color: darken($navbar-admin-text-color, 30%);
        }
        a{
            color: $navbar-admin-link-color;
            &:hover{
                color: $navbar-admin-link-hover-color;
            }
        }
    }
}
.footer-user{
    background-color:$navbar-user-bg;
    .footer-logo{
        a{
            color: $navbar-user-link-color;
        }
    }
    .footer-nav{
        dt{
            color: darken($navbar-user-text-color, 30%);
        }
        a{
            color: $navbar-user-link-color;
            &:hover{
                color: $navbar-user-link-hover-color;
            }
        }
    }
}

audio{
    padding-top: $padding-base-vertical;
}

.flash-messages{
    padding:0;
    margin:0;
    .alert{
        &:first-child{
            margin-top:20px;
        }
        &:last-child{
            margin-bottom:0;
        }
    }
}
// Blocks for "Under contruction" elements
.dev-block{
    color: $gray-light;
    border:1px dashed $gray;
    text-align: center;
    line-height:100%;
    border-radius: 5px;
    height:100%;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQYlX3PsQ2AUAwD0ew/ZSa47mpTID5CIilcvWtcQJ6pZ90dILXhCSYEUht+gj9U72BCNbWh+r6Y3lxB7/Lpn5+z/AAAAABJRU5ErkJggg==) repeat;
    padding:15px;
}
// Inline for "Under contruction" elements
.dev-inline{
    color: $gray-light;
    border:1px dashed $gray;
    display:inline-block;
    border-radius: 2px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQYlX3PsQ2AUAwD0ew/ZSa47mpTID5CIilcvWtcQJ6pZ90dILXhCSYEUht+gj9U72BCNbWh+r6Y3lxB7/Lpn5+z/AAAAABJRU5ErkJggg==) repeat;
}

/**
NSFW small blocks
*/
.nswf-block, .more-block{
    text-align:center;
    vertical-align: middle;
    opacity:.8;
    height:100%;
}

.img-cropped-wrapper{
    overflow: hidden;
    display:inline-block;
    max-height: 300px;
    &:before{
        /*.small-overlay{*/
        content: "";
        position: relative;
        top:300px;
        transform: translateY(-20px);
        height: 20px;
        box-shadow: 0px -20px 10px -10px #FFF inset;
        opacity:1;
        win-width:100%;
        display:block;
    }
    img{
        cursor: pointer;
    }
    &.in{
        max-height:100%;
        &:before{
            /*.small-overlay{*/
            opacity: 0;
        }
    }
}
.event-success .img-cropped-wrapper:before{
    box-shadow: 0px -20px 10px -10px lighten($alert-success, 10%) inset;
}
.event-danger .img-cropped-wrapper:before{
    box-shadow: 0px -20px 10px -10px lighten($alert-danger, 10%) inset;
}
.event-info .img-cropped-wrapper:before{
    box-shadow: 0px -20px 10px -10px lighten($alert-primary, 10%) inset;
}
.event-warning .img-cropped-wrapper:before{
    box-shadow: 0px -20px 10px -10px lighten($alert-warning, 10%) inset;
}

/*
Margin helpers
-------------- */
// Margin top
.margin-top-sm{
    margin-top: $padding-small-vertical;
}
.margin-top-md{
    margin-top: $padding-base-vertical;
}
.margin-top-lg{
    margin-top: $padding-large-vertical;
}
// Margin right
.margin-right-sm{
    margin-right: $padding-small-horizontal;
}
.margin-right-md{
    margin-right: $padding-base-horizontal;
}
.margin-right-lg{
    margin-right: $padding-large-horizontal;
}
// Margin bottom
.margin-top-sm{
    margin-bottom: $padding-small-vertical;
}
.margin-bottom-md{
    margin-bottom: $padding-base-vertical;
}
.margin-bottom-lg{
    margin-bottom: $padding-large-vertical;
}

// Margin left
.margin-left-sm{
    margin-left: $padding-small-horizontal;
}
.margin-left-md{
    margin-left: $padding-base-horizontal;
}
.margin-left-lg{
    margin-left: $padding-large-horizontal;
}

.page-content table{
    @extend .table;
    @extend .table-condensed;
    @extend .table-striped;
}

/**
This contains the scrollbar and controls
*/
.horizontal-scroller{
    display:flex;
    flex-direction: row;
    .direction{
        vertical-align: middle;
    }
    border: 1px solid lighten($alert-success, 10%);
    border-width: 0 1px;
    box-shadow: 0 15px 20px -10px rgba(77,77,77,0.5) inset,
        0 -15px 20px -10px rgba(77,77,77,0.5) inset;
    padding: 0;
    margin:($padding-large-vertical) (-$padding-large-horizontal);
}

/**
This contains the items
*/
.scrollbar{
    padding:15px 5px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}