# Cake PHP
/vendor/*
/config/app.php
/config/siteconfig.php
/tmp/*
/logs/*
/config/Migrations/schema-dump-default.lock

# Upload dir
/webroot/uploads

# IDE project dir
/nbproject/private/
/.idea

# Sass external sources
/Sources/Sass/lib

# .htaccess files
.htaccess
/webroot/.htaccess

# Additionnal plugins
/plugins/Cv