# Cake PHP
/vendor/*
/config/app.php
/tmp/*
/logs/*

# Upload dir
/webroot/uploads/thumbs
/webroot/uploads/20*

# Netbeans IDE project dir
/nbproject/private/

# Sass external sources
/Sources/Sass/common/bootstrap-sass
/Sources/Sass/common/bootstrap-tagsinput-latest
/Sources/Sass/common/bootstrap-datetimepicker-master
/Sources/Sass/common/bootflat.github.io-master
/Sources/Sass/common/Font-Awesome-master
/Sources/Sass/common/codemirror

# .htaccess files
.htaccess
/webroot/.htaccess

# Additionnal plugins
/plugins/Gravatar