# Cake PHP
/vendor/*
/config/app.php
/tmp/*
/logs/*

# Netbeans IDE project dir
/nbproject/private/

# Sass external sources
/Sources/Sass/common/material-master
/Sources/Sass/common/Font-Awesome-master
/Sources/Sass/common/codemirror-5.7

# .htaccess files
.htaccess
/webroot/.htaccess