@each $color in $palette-list-class {
	$i: index($palette-list-class, $color);

	tr.line-#{$color} {
		background-color: nth($palette-list-color, $i);
		color: nth($palette-list-text, $i);
		a,
		a:focus,
			a:hover {
			color: inherit;
		}
		&:hover{
			background-color: lighten(nth($palette-list-color, $i),10%) !important;
		}
	}
}