.help-block{
    font-size:0.8em;
    opacity:0.8;
}
.form-group.required{
    label::before{
        content: '*';
        @extend .text-danger;
        padding-right: 3px;
    }
}

.checkbox{
    label{
        padding-left: 20px;
    }
}