// Headers override
h1,
.h1 {
    font-size: 35px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 25px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 15px;
}
h6,
.h6 {
    font-size: 12px;
}

// Monospaced font
.text-monospace{
    font-family: $font-family-monospace;
}

// Outlines tags with lang attribute for debugging
/*[lang]{
	border:1px solid #F00;
	background-color: #FF0;
}*/