// Images in tiles content
.tile-full{
	@extend .card-img;
	/*width:100%;*/
	margin-left:-$grid-gutter;
	margin-right:-$grid-gutter;
	audio{
		padding-top:$grid-gutter;
		width:100%;
	}
    img{
        width:100%;
    }
}

.tile-sub pre{
	overflow-x: hidden;
}