// Box displaying message when there's no content.

.empty{
	text-align: center;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWO4e/fufwaiAE6VAD8TBy1nEsnUAAAAAElFTkSuQmCC);
	border:1px solid $gray-lighter;
	// Other details from cards
	margin: $padding-large-vertical $padding-large-horizontal;
	padding: $padding-base-vertical $padding-base-horizontal;
	a{
		color: $gray-light;
	}
	p{
		margin:0;
		display:block;
	}
	.empty-symbol{
		font-size:43px;
		line-height:normal;
	}
}

