.navbar-default{
    border-bottom-color:transparent;
    @include box-shadow($value: $well-shadow);
    .navbar-brand > img{
        // Override the defaults
        display: inline-block;
        width: 25px;
        top: -1px;
        position: relative;
    }
    .dropdown-menu{
        background-color: $navbar-default-bg;
        a{
            color: $navbar-default-link-color;
            &:hover{
                background-color: darken($navbar-default-bg, 10%);
                color: $navbar-default-link-hover-color;
            }
        }
        .dropdown-header{
            background-color: darken($navbar-default-bg, 15%);
            color: darken($navbar-default-bg, 30%);
        }
    }
}
