.navbar-default{
    .dropdown-menu{
        background-color: $navbar-default-bg;
        a{
            color: $navbar-default-link-color;
            &:hover{
                background-color: $navbar-default-toggle-hover-bg;
                color: $navbar-default-link-hover-color;
            }
        }
    }
}