.paginator{
    display: flex;
    .pagination{
        display: inline-block;
        .disabled a{
            color: $gray-light;
        }
    }
    > span{
        display: inline-block;
        margin: ($padding-large-vertical*2) 0;
        margin-left:$padding-base-horizontal;
        padding: $padding-base-vertical 0;
    }
}
