.timeline{
    .pos-left{
        .events{
            width:27%;
        }
    }
    .pos-right{
        .events{
            width:67%;
        }
    }
    dl::before{
        left:30%;
    }
    dl{
        dt{
            margin:0 30% 30px;
            transform:translateX(-60px);
            line-height: 1.4em;
            padding: $padding-small-vertical $padding-small-horizontal;
            &::before{
                content: '';
                clear: both;
                display: block;
                width: 320px;
                position: absolute;
                transform:translateY(-1px);
                top: 50%;
                background-color: #AAB2BD;
                height:2px;
                left: -100px;
                z-index:-1;
            }
        }
        dd{
            .circ{
                left: 30%;
            }
            .circ-nsfw{
                background-color:silver;
            }
            .circ-info{
                background-color:$alert-primary;
            }
            .circ-warning{
                background-color:$alert-warning;
            }
            .circ-danger{
                background-color:$alert-danger;
            }
            .circ-success{
                background-color:$alert-success;
            }
            .time{
                left:30%;
                top:29px;
            }
        }
    }
}